<html lang="en" ng-app="GitStats">
  <head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />
  </head>
  <body layout="column" ng-controller="GitCtrl">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <h2>Github Issues Stats</h2>
      </div>
    </md-toolbar>
    <div layout="column" flex>
         
        <div layout="column" >
          <span layout="row" >

            <md-input-container flex="30">
              <label>Github Repo</label>
            <input type="text" ng-model="repo"  >
</md-input-container>
<md-button ng-click="getData()">Submit</md-button>
<span>
        </div>

        <div layout="column" flex="100">
<span layout="row">
<md-card flex="20">
<md-toolbar>Total number of open issues</md-toolbar>
<md-content><h1>{{column1}}</h1></md-content>
</md-card>
<md-card flex="20">
<md-toolbar>opened in the last 24 hours</md-toolbar>
<md-content><h1>{{column2}}</h1></md-content>
</md-card>

<md-card flex="20">
<md-toolbar>that were opened more than 24 hours ago but less than 7 days ago</md-toolbar>
<md-content><h1>{{column3}}</h1></md-content>
</md-card>
<md-card flex="20">
<md-toolbar>that were opened more than 7 days ago</md-toolbar>
<md-content><h1>{{column4}}</h1></md-content>
</md-card>






</span>
        </flex>

        <div layout="row" flex>
        </div>
    </div>



    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>

    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
   <script src="github.js"></script>  

</body>
</html>
